*{
    margin:0;
    box-sizing: border-box;
}

.header-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7,1em);
    grid-template-rows: auto;
}
.main-nav{
    margin: 0;
    display: flex;
    justify-content: space-between;
    
}
.nav-bar-left{
    display: flex;
    font-size: 1.25em;
    list-style: none;
    padding: 0 10px;

}
.nav-bar-right{
    display: flex;
    font-size: 1.25em;
    list-style: none;

}

.menu__link{
    padding-left: 15px;
    padding-right: 15px;
}
.nav-header{
    color: black;
    font-size: 1.25em;
}

.img-body{
    max-width: 100%;
}